{% extends 'core/form.html' %}
{% load static %}


{% block serviceLinks %}
         <a class="navbar-brand" href="{% url 'listPartnerServices' %}">Bando-Contra</a>
{% endblock %}

{% block userType %}
<a class="dropdown-item" href="{% url 'detail_partner' %}">
    <div style="clear: left;">
        <div style="float: left;" class="me-1">
            <span class="material-icons-outlined">
                account_circle
            </span>
        </div>
        <p class="mb-0">Profile</p>
    </div>
</a>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/phone-field-format.js' %}"></script>
{% endblock %}