{% extends 'core/form.html' %}
{% load static %}

{% block userType %}
<a class="dropdown-item" href="{% url 'detail_client' %}">
    <div style="clear: left;">
        <div style="float: left;" class="me-1">
            <span class="material-icons-outlined">
                account_circle
            </span>
        </div>
        <p class="mb-0">Profile</p>
    </div>
</a>
{% endblock %}

{% block formEvent %}

<div class="mb-3">
  <label for="eventID" class="form-label">Available Events</label>
  <select id="eventID" class="form-select" name="eventAdd" required>
    <option disabled selected value>Select Event</option>
    {% for event in listEvents %}
    <option value="{{ event.id }}" class="filterEvent" data-valueDate = "{{ event.arrival }}" hidden>{{ event.arrival }}</option>
    {% endfor %}
  </select>
</div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'js/eventFilter.js' %}"></script>
{% endblock %}
