{% extends 'core/user/listServices.html' %}
{% load static %}

{% block userType %}
<a class="dropdown-item" href="{% url 'detail_client' %}">
    <div style="clear: left;">
        <div style="float: left;" class="me-1">
            <span class="material-icons-outlined">
                account_circle
            </span>
        </div>
        <p class="mb-0">Profile</p>
    </div>
</a>
{% endblock %}

{% block serviceLinks %}
         <a class="navbar-brand" href="{% url 'listClientServices' %}">Bando-Contra</a>
{% endblock %}

{% block buttons %}<a href="{% url 'feedback' service.id %}" class="btn btn-outline-primary">Feedback</a>{% endblock %}
{% block addButton %}<a href="{% url 'addService' %}" class="btn btn-outline-primary">add</a>{% endblock %}